.main-layout {
  height: 100vh;

  .logo {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);

    span {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
